body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
  }
  
  
  canvas.webgl {
    display: block; 
    width: 100vw;   
    height: 100vh; 
  }
  
  
  body {
    background-color: #00008b; 
    color: white;              
    font-family: Arial, sans-serif; 
    text-align: center;      
  }
  
 
  h1 {
    color: #fff;
    font-size: 2rem;
    margin-top: 20px;
  }